Repository hstandaert/sysloggy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --cache, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": "eslint --quiet --fix --cache",
  "*.{json,md,html,js,jsx,ts,tsx}": "prettier --write"
}

Look for login events in system logs
  cli.ts
  package-lock.json
  package.json
  src/options.ts
  src/sysloggy.ts
  src/types/commander.ts
  src/types/system.ts
  src/util/getLogs.ts
  src/util/parseOption.ts
Due: eslint --quiet --fix --cache, prettier --write

Display logs in a table
  package-lock.json
  package.json
  src/sysloggy.ts
  src/types/system.ts
  tsconfig.json
  yarn.lock
Due: eslint --quiet --fix --cache, prettier --write

Add insights about the active hours of that day
  package-lock.json
  package.json
  src/options.ts
  src/sysloggy.ts
  src/types/datetime.ts
  src/util/getLogs.ts
  src/util/isDateValid.ts
  src/util/msToTime.ts
  tsconfig.json
  yarn.lock
Due: eslint --quiet --fix --cache, prettier --write

0.0.1
  package-lock.json
  package.json
Due: prettier --write

Update README
  README.md
Due: prettier --write

Update eslint config and fix linting errors
  .eslintrc
  .gitignore
  cli.ts
  package-lock.json
  package.json
  src/options.ts
  src/sysloggy.ts
  src/types/datetime.ts
  src/util/getLogs.ts
  src/util/isDateValid.ts
  src/util/parseOption.ts
Due: eslint --quiet --fix --cache, prettier --write

Improve command that retrieves logs
  src/util/getLogs.ts
  src/util/oneLine.ts
Due: eslint --quiet --fix --cache, prettier --write

Add github action for CI
  .github/workflows/ci.yml
Due: none

Add prepack command
  package.json
Due: prettier --write

Restrict platform in package.json
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier --write

0.0.2
  package-lock.json
  package.json
Due: prettier --write
